*{
    margin:0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    
    color: black;
}
#header{
    width:100%;
    height:100vh;
    
    background-size: cover;
    background-position: center;
    /*background-image: url(images/p_bg\ copy.jpg);*/
}
#header .logo {
    font-size:25px;
    
    text-decoration: none;
    color: #0e2431;
  }
  #header .logo i {
    font-size: 30px;
    color: #ff004f;
  }
  #header .logo:hover {
    color: #fc8c05;
  }
.container{
    
    padding: 10px 10%;
}
#sidemenu{
    margin-left: 700px;
    margin-top: 10px;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    
}
.logo {
    width:120px;

}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px ;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position:relative;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
/*nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:rgba(0,0,0,0.2);
    width: 100%;
    height: 65px;
    position: fixed;
}
.title-heading{
    display: flex;
}
.title-heading h1{
    padding-top: 10px;
    margin-left: 32px;
}
.logo{
    width:60px;
    border-radius: 50%;
    margin-left: 90px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 50%;

}*/
.header-text{
    margin-top: 12%;
    margin-left: 10%;
    font-size: 30px;
    flex-basis: 60%;
}
.header-text h1{
    font-size: 45px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.header-text h5{
    margin: 20px;
    margin-left: 25px;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    
}
.header-text h1 span{
    color: #ff004f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
.home{
    display: flex;
}
.home-right{
    flex-basis: 45%;
}
.home-right img{
    margin-top: 175px;
   
    
    transition: all 0.3s;
}
.home-right img:hover{
    transform: translate(-0.5rem,-0.5rem);
    box-shadow:  #ff004f;
}
.home .btn {
    margin-top: 24%;
    margin-left: 10%;
    position: absolute;
    line-height: 0;
    padding: 13px;
    border-radius: 4em;
    transition: 0.5s;
    color:#ff004f;
    background: #fff;
    box-shadow: #ff004f;
    font-family: "Nunito", sans-serif;
  }
  .home .btn span {
    font-weight: 700;
   
    letter-spacing: 0.1rem;
  }
  .home .btn i {
    margin-left: 0.3rem;
    font-size: 12px;
    transition: 0.3s;
  }
  .home .btn:hover {
    background: #ff004f;
    color: #fff;
  }
  .home .btn:hover i {
    transform: translateX(5px);
  }
  /*.home .socials {
    position: relative;
    margin-top: 33%;
    
  }*/
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 160px;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #fff;
    
  }
  .social-icons a.github:hover {
    
    color: black;
  }
  .social-icons a.twitter:hover {
    color: black;
  }
  .social-icons a.linkedin:hover {
    color: black;
  }
  .social-icons a.telegram:hover {
    color: black;
  }
  .social-icons a.dev:hover {
    color: black;
  }
  .social-icons a.instagram:hover {
    color: black;
  }
/*----------------about------------------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 70%;
    margin-top: 20px;
    border-radius: 35px;
}
.about-col-2{
    flex-basis: 65%;

}
.about-col-2 p{
    line-height: 23px;
    margin-top: 35px;
}
.sub-title{
    font-size: 50px;
    font-weight: 400;
    color:black;
    font-family: "Nunito";
}
.tab-titles{
    display: flex;
    margin: 15px 0 30px;
    color:#0e2431
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
    font-size: 15px;
}
.tab-contents.active-tab span{
    font-size: 17px;
}
/*-------------services-----------------
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}*/
/*---------portfolio--------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}
.layer h3{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}
.layer p{
    color: #fff;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*--------contact---------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
/*.btn.btn2{
    display: inline-block;
    color: #ff004f;
}*/
.btn2{
    display: block;
    margin-top: 30px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 13px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    margin-right: 15px;
    background-color: #ff004f;
}
.btn2:hover{
    background: #ff004f;
}
.contact-right form{
    width: 80%;
    
}
form input,form textarea{
    width: 100%;
    border: 2px solid #ff004f;
    
    outline: #ff004f;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color:#262626;
    font-size: 18px;
    border-radius: 6px;
}
.btn3{
    display: block;
    margin-top: 30px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 13px 50px;
    border-radius: 9px;
    text-decoration: none;
    color: #fff;
    background-color:#ff004f;
    transition: background 0.5s;
    margin-right: 15px;
    cursor: pointer;
    font-size: 18px;
}
.btn3:hover{
    background:white;
    color: #ff004f;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 200;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
}
.copyright p a{
    text-decoration: none;
        color: #fff;
}
#scroll-top{
    color: #ff004f;
    border: 2px solid #ff004f;
    margin-left: 96%;
    font-size: 30px;
    
    height: 33px;
}
#menu {
    font-size: 3rem;
    cursor: pointer;
    color: rgb(24, 2, 63);
    display: none;
  }

/*---------------css for small screen--------------*/
nav .fa-solid{
    display: none;
}
nav .fa-regular{
    display: none;
}
@media only screen and (max-width:600px){
    /*#header{
        background-image: url(images/phone-background.png);
    }*/
    #menu {
        display: block;
      }
      .home .btn {
        margin-top: 54%;
        margin-left: 70px;
        position: absolute;
        line-height: 0;
        padding: 12px;
        
        border-radius: 4em;
        transition: 0.5s;
        color:#ff004f;
        background: #fff;
        box-shadow: #ff004f;
        font-family: "Nunito", sans-serif;
      }
    .home{
        display:grid;
    }
    .home-right{
        margin-left: 25px;
        
    }
    .home-right img{
        margin-top: 5px;
        transition: all 0.3s;
    }
    .socials .social-icons {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: 68px;
      }
    .header-text{
        font-size: 16px;
        margin-left:20px;
    }
    
    .header-text h1{
        font-size: 30px;
        margin-top: 50px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        margin-left: 200px;
        cursor: pointer;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-regular{
        display: block;
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        font-size: 20px;
    }
    .sub-title{
        font-size: 40px;

    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .contact-left{
        margin-top: 35px;
    }
    .copy-right{
        font-size:14px;
        
    }
    .copy-right p a{
        text-decoration: none;
        color: #fff;
    }
}
#msg{
    color: #61b752;
   
    display: block;
}
